
.vi-authorname :hover{
  color: olive;
  font-size: 38px;
}

#vi-preview-title{

    padding-left: 30px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            margin-bottom: 15px;
}

#vi-preview-content{
     
          padding-left: 30px;


}

#vi-preview-content p img{
     
               
    display: block;
    margin: 0 auto;
    max-width: 100%; 



}

.loader {
    width: 48px;
    height: 48px;
    border: 2px solid #080808;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #FF3D00;
    width: 6px;
    height: 6px;
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  .loader::before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: translate(-150%, -150%);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 